<div class="container">

  <div class="container dashboard-section" id="all-kindergardens" style="margin-bottom: 30px;">
    <div class="section-title" style=" color: #f57170;">
      <h4>My Games</h4>
    </div>
    <table style="width: 100%;">
      <thead>
        <tr>

          <th class="table-dashboard" style="padding: 8px;">Games</th>
        </tr>
      </thead>
      <tbody class="dashboard-table">
        <!-- to do show kid games -->
      </tbody>
    </table>
  </div>

  <div class="container dashboard-section" id="my-kids">
    <div class="section-title" style=" margin-top: 15px; color: #f57170;">
      <h4>My games</h4>
    </div>
    <div class="row kid-Ñards">
      <% current_user.games.each do |game| %>
        <div class="col-3 kid-card">
          <%= link_to edit_game_path(game) do %>
            <span><%= game.kidname %></span>
          <% end %>
        </div>
      <% end %>

      <div class="col-3 kid-card kid-card-add">
        <%= link_to new_game_path(current_user) do %>
          <span>Add game <i class="far fa-plus-square"></i></span>
        <% end %>
      </div>
    </div>
  </div>


  </div>
</div>
<%= render "shared/footer", game: @game %>
