<html>
  <head>
    <title>Happy Kid</title>
    <meta name="description" content="Kita Butler is the best service for finding kindergarden for your kids. Fast and effecietnt!">
    <meta charset="utf-8">
    <meta property="og:title" content="Kita Butler - best for finding kindergardens">
    <meta property="og:image" content="kita1.jpeg">
    <meta property="og:description" content="Kita Butler is the best service for finding kindergarden for your kids. Fast and effecietnt!">
    <meta property="og:site_name" content="Kita Butler">
  </head>
  <body>

    <%= render "shared/footer", kindergarden: @kindergarden %>
  </body>
</html>


